@charset "utf-8";
#top {
    background: url(/img/protfolio.png);
    width: 100%;
}

#top .link {
    width: 80px;
    height: 30px;
    background-color: #FFFFFFFF;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 80px;
    text-decoration: none;
    color: #00053A;
    text-align: center;
    margin-top: 10px;
}

#top .header-contents {
    margin-top: 0px;
    gap: 15px;
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
}

#top .title-top {
    height: 100vh;         
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;    
}


#top .title-top p {
    margin: 0;
}

#top #title-main {
    font-size: 100px;
    color: #00053A;
    text-shadow: 7px 7px 10px rgba(255, 255, 255, 1);
}

#top #title-sub {
    font-size: 47px;
    color: #00053A;
    text-shadow: 7px 7px 10px rgba(255, 255, 255, 1);
}

/* aboutページ */
/* about全体 */
#about {
  padding: 80px 0;
  background: linear-gradient(90deg, #849dbb, #ebf3fb);
  color: #00053A;
}

/* About見出し */
.about-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 40px;
}

#about-title {
  font-size: 48px;
}

/* 白いカード */
.about-contents {
  max-width: 900px;
  margin: 0 auto;
  background: #fff;
  border-radius: 12px;
  padding: 40px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

/* 中身レイアウト */
/* 画像 + 基本情報だけ横並び */
.information {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

/* プロフィール画像 */
#photo {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}

/* 基本情報 */
.profile-text {
  line-height: 1.8;
}

/* 学歴は下に */
.Academic_background {
  margin-top: 30px;
  padding-left: 220px; /* ← 画像分だけ右にずらす */
  font-size: 14px;
  line-height: 1.8;
}


#name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* skill */
#skill {
  border: 10px solid #5D89BA;
}

.skill-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 40px;
}

#skill-title {
  font-size: 48px;
}

.skill-card {
  background-color: rgba(171, 205, 239, 0.24);
  width: 450px;
  height: 240px;
  padding: 10px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  
}

.skill-column {
  display: flex;
}

/* works */
/* About見出し */
.works-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 40px;
}

#works-title {
  font-size: 48px;
}

/* 全体を2列グリッドに */
.works-grid {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 60px;
  column-gap: 120px;
   background-image: linear-gradient(#849cbb, #ebf3fb);
   padding: 20px;
   margin-bottom: 100px;
}

/* 1作品 */
.work-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.work-item a {
  direction: none;
  text-decoration: none;
}

/* アイコン */
.works-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0 6px 15px rgba(0,0,0,0.25);
}

/* テキスト */
.work-title {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.work-skill {
  font-size: 14px;
  color: #ffffff;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

#footer {
  text-align: center;
}